// Base Colors
$cuttySark: #50666F;
$lynch: #6F889C;
$nepal: #90ABBF;
$alto: #D1D1D1;
$concrete: #F3F3F3;
$silverChalice: #A1A1A1;
$glacier: #84A8C6;

// Font Stack
$font-stack: 'Lato', sans-serif;

// calculator dimensions
$calculatorWidth: 18.875em;
$calculatorHeight: 31.25em;
$border-radius: .25em;
