@import "_reset.scss";
@import "_config.scss";

html {
  font-size: 1rem;
}
body {
  background: $cuttySark;
  font-family: $font-stack;
}

.calculator {
  background: darken($silverChalice, 42%);
  width: $calculatorWidth;
  height: $calculatorHeight;
  margin: 10% auto 0;
  border-radius: $border-radius;
  box-shadow: 10px 20px 20px rgba(0,0,0, 0.3);
}
.calculator-screen {
  background: darken($silverChalice, 42%);
  width: $calculatorWidth;
  height: $calculatorHeight * .25;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
span {
  font-size: 1.75rem;
  text-align: right;
  color: $lynch;
  margin-right: 10%;
  margin-left: 10%;
  max-width: 80%;
  display: block;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.button-container {
  min-height: 75%;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  display: flex;
  flex-wrap: wrap;
}

button {
  flex: 1 25%;
  padding: 0;
  outline: none;
  border: none;
  font-size: 1.25rem;
  background: darken($silverChalice, 40%);
  color: $lynch;
  transition: all 0.2s ease;
  &:active {
    background: darken($silverChalice, 30%);
  }
  &:nth-child(17) {
    flex-basis: 0;
    border-bottom-left-radius: $border-radius;
  }
  &:last-child {
    flex-grow: 2;
    border-bottom-right-radius: $border-radius;
  }
}
